In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Question: Given a list of temperatures in Fahrenheit, create a list comprehension to 

convert them to Celsius.

Also calculate the average temperature using numpy.

temperatures_f = [32, 68, 75, 82, 56]

# Your code should:

# 1. Convert to Celsius using: (F - 32) * 5/9

# 2. Round to 2 decimal places

# 3. Calculate mean using nump

In [6]:
temp_fah =[32, 68, 75, 82, 56]

temp_celsius =[(x-32)*(5/9) for x in temp_fah]
print(temp_celsius)
mean=np.mean(temp_celsius)
np.round(mean, decimals="%.2f")

[0.0, 20.0, 23.88888888888889, 27.77777777777778, 13.333333333333334]

TypeError: 'str' object cannot be interpreted as an integer

data = { 'Emp_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'John'], 'Department': ['HR', 'IT', 'IT', 'Finance', 'Finance', 'HR', 'IT', 'Finance', 'HR', 'IT'], 'Salary': [50000, 60000, 70000, 55000, 60000, 52000, 75000, 62000, 58000, 72000], 'Experience_Years': [2, 3, 5, 7, 4, 2, 8, 6, 3, 9], 'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Chicago', 'New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles'] } 
Find the average salary for each department. 
Count the number of employees in each city. 
Find the maximum experience in each department for employees in New York.

In [7]:
data ={ 'Emp_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'John'], 'Department': ['HR', 'IT', 'IT', 'Finance', 'Finance', 'HR', 'IT', 'Finance', 'HR', 'IT'], 'Salary': [50000, 60000, 70000, 55000, 60000, 52000, 75000, 62000, 58000, 72000], 'Experience_Years': [2, 3, 5, 7, 4, 2, 8, 6, 3, 9], 'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Chicago', 'New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles'] } 
df= pd.DataFrame(data)
df.head()

  Emp_Name Department  Salary  Experience_Years         City
0    Alice         HR   50000                 2     New York
1      Bob         IT   60000                 3  Los Angeles
2  Charlie         IT   70000                 5     New York
3    David    Finance   55000                 7      Chicago
4      Eva    Finance   60000                 4      Chicago

In [28]:
df.groupby('Department')['Salary'].mean()

Department
Finance    59000.000000
HR         53333.333333
IT         69250.000000
Name: Salary, dtype: float64

In [ ]:
df.groupby('City')['Emp_Name'].

In [33]:
df_city=df[df['City']=='New York']
df_city.groupby('Department')['Experience_Years'].max()

Department
HR    3
IT    5
Name: Experience_Years, dtype: int64

In [34]:
df1 =pd.read_csv('ab.csv')
df1.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,fractal_dimension_worst,Unnamed: 32,patient_age,hospital_code,room_number,admission_status,notes,genetic_marker,hospital_region,blood_pressure
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,0.11890,NaN,50,H003,453,Admitted,not useful,NaN,North,NaN
1,842517,Malignant,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,0.08902,NaN,38,H001,258,Admitted,not useful,NaN,South,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,0.08758,NaN,50,H003,227,Admitted,not useful,NaN,North,NaN
3,84348301,M,11.42,20.38,77.58,NaN,0.14250,0.28390,0.2414,0.10520,...,0.17300,NaN,32,H002,487,ADMITTED,not useful,NaN,South,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,0.07678,NaN,76,H002,217,Discharged,not useful,NaN,North,NaN

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       579 non-null    int64
 1   diagnosis                579 non-null    object
 2   radius_mean              522 non-null    float64
 3   texture_mean             551 non-null    float64
 4   perimeter_mean           579 non-null    float64
 5   area_mean                493 non-null    float64
 6   smoothness_mean          561 non-null    float64
 7   compactness_mean         579 non-null    float64
 8   concavity_mean           579 non-null    float64
 9   concave points_mean      579 non-null    float64
 10  symmetry_mean            579 non-null    float64
 11  fractal_dimension_mean   579 non-null    float64
 12  radius_se                579 non-null    float64
 13  texture_se               579 non-null    float64
 14  perimeter_se             579 non-null    float64
 15  area_se                  579 non-null    float64
 16  smoothness_se            579 non-null    float64
 17  compactness_se           579 non-null    float64
 18  concavity_se             579 non-null    float64
 19  concave points_se        579 non-null    float64
 20  symmetry_se              579 non-null    float64
 21  fractal_dimension_se     579 non-null    float64
 22  radius_worst             579 non-null    float64
 23  texture_worst            579 non-null    float64
 24  perimeter_worst          579 non-null    float64
 25  area_worst               579 non-null    float64
 26  smoothness_worst         579 non-null    float64
 27  compactness_worst        579 non-null    float64
 28  concavity_worst          579 non-null    float64
 29  concave points_worst     579 non-null    float64
 30  symmetry_worst           579 non-null    float64
 31  fractal_dimension_worst  579 non-null    float64
 32  Unnamed: 32              0 non-null      float64
 33  patient_age              579 non-null    int64
 34  hospital_code            579 non-null    object
 35  room_number              579 non-null    int64
 36  admission_status         579 non-null    object
 37  notes                    579 non-null    object
 38  genetic_marker           117 non-null    object
 39  hospital_region          579 non-null    object
 40  blood_pressure           145 non-null    float64
dtypes: float64(32), int64(3), object(6)
memory usage: 185.6+ KB

In [36]:
df1['diagnosis'].value_counts()

diagnosis
B            344
M            206
Benign        15
Malignant     14
Name: count, dtype: int64

In [38]:
df1.size

23739

In [39]:
df1.shape

(579, 41)

In [51]:
df1.isnull().sum().sort_values(ascending=False)

blood_pressure             434
area_mean                   86
radius_mean                 57
texture_mean                28
smoothness_mean             18
diagnosis                    0
id                           0
perimeter_mean               0
compactness_mean             0
concave points_mean          0
concavity_mean               0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
symmetry_mean                0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
perimeter_se                 0
radius_worst                 0
texture_worst                0
area_worst                   0
perimeter_worst              0
compactness_worst            0
concavity_worst              0
concave points_worst         0
smoothness_worst             0
symmetry_worst               0
fractal_dimension_worst      0
hospital_code                0
patient_age                  0
room_number                  0
admission_status             0
notes                        0
hospital_region              0
dtype: int64

In [53]:
df1.drop(columns=['blood_pressure'],inplace=True)
df1.head()

KeyError: "['blood_pressure'] not found in axis"